ul{margin:0;padding:0}
li{list-style:none}
a{text-decoration: none;}
.nav a{display: block;overflow: hidden;padding-left: 20px;line-height: 46px;
				max-height: 46px;color: black;transition: all .3s;}
.nav a span{margin-left: 30px;font-size: 16px;font-family: Î¢ÈíÑÅºÚ}
.nav-item{position: relative;}
.nav-item ul{display: none;background: rgba(0,0,0,.1);}
.nav-item a:hover{color: blue;background: rgba(0, 0, 0,.1);}
p{font-size:15px}
