@charset "UTF-8";
input{
	margin-top: 10px;
	border-left-style: 0;
 	 border:none #E0ECFF;
	border-bottom:#E0ECFF solid 1px;  
	background:transparent;  
	outline: none ;
}
.div-inner{
	height:auto;
	border:solid 0px ;
	background: white;
	margin-left:-2px;
	margin-right:-2px;
	border-top:#E0ECFF solid 1px;
}

img{
	width:60px;
	height:85px;
}
