<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<display-name>registerServlet</display-name>
  	<description></description>
  	<servlet-class>org.world.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>checkNameServlet</servlet-name>
  	<display-name>checkNameServlet</display-name>
  	<description></description>
  	<servlet-class>org.world.servlet.CheckNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personDeleteServlet</servlet-name>
  	<display-name>personDeleteServlet</display-name>
  	<description></description>
  	<servlet-class>org.world.servlet.PersonDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changePowerServlet</servlet-name>
  	<display-name>changePowerServlet</display-name>
  	<description></description>
  	<servlet-class>org.world.servlet.ChangePowerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>personQueryServlet</servlet-name>
  	<display-name>personQueryServlet</display-name>
  	<description></description>
  	<servlet-class>org.world.servlet.PersonQueryServlet</servlet-class>
  </servlet>
 
 
 
 
 
  
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>checkNameServlet</servlet-name>
  	<url-pattern>/checkNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personDeleteServlet</servlet-name>
  	<url-pattern>/personDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changePowerServlet</servlet-name>
  	<url-pattern>/changePowerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>personQueryServlet</servlet-name>
  	<url-pattern>/personQueryServlet</url-pattern>
  </servlet-mapping>
  
  
 
  
</web-app>
